.container{
  background-color: black;
}

.paragraph-one, .paragraph-two, .paragraph-three {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}             