Header{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #242424;
    color: white;
    font-size: 20px;
    font-weight: 500;
    z-index: 100;
}

img{
    width: 250px;
    height: 250px;
}
